<div class="card">
    <div class="card-header flex-row justify-center">
        <h2>sign up</h2>
    </div>
    <div id="signup" role="tabpanel">
        <form id="signup-form" class="card-body">
            <div>
                <label for="username-input-signup">username</label>
                <input type="text" id="username-input-signup" />
            </div>
            <div>
                <label for="password-input-signup">password</label>
                <input type="password" id="password-input-signup" />
            </div>
            <button type="submit" id="signup-btn" class="btn">signup!</button>
            <p class="flex-row justify-center p-account">have an account?</p>
            <a class="flex-row justify-center" href="/login"> go to login instead</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>